
/*HOME page Start*/
@font-face{
  font-family: 'gothic';
  src: url(fonts/gothic.TTF);
}
  
.logo{
    position: fixed;
    top: 1rem;
    height: 8vh;
    border-radius: 10px;
    background-color: white;
    transition: .3s;
    overflow: hidden;
}

.logo:hover{
    transform: scale(1.3);
    background: transparent;

}

.navbar{
  
    text-transform: uppercase;
    font-family: sans-serif;
}

.navbar-custom {
    background-color: transparent;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.navbar-toggler{
    color: white;
}

.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:hover .nav-link {
    color: white;
}

.nav-link{ 
    color: white; 
    font-size: 1.2vw;
} 
.nav-link:hover { 
    color: white;
    text-shadow: 2px 2px 20px black;
    background-color: #34eb6b;
    border-radius: 5px; 
    transition: 0.3s;
} 

/*     #10caca*/
.navbar-dark {
    text-shadow: 5px 5px 20px black;
    transition: 400ms ease; 
    background-color: transparent !important; 
} 
.navbar-dark.scrolled { 
  text-shadow: 0px 0px 0px transparent;  
    background-color: #36a353 !important; 
} 

.logo.scrolled{
    position: fixed;
    top: 1vh;
    height: 6vh;
    border-radius: 10px;
    background-color: white;
    transition: .3s;
    overflow: hidden;
}
.logo.scrolled:hover{
    transform: scale(1.3);

}



.webwrapper{
    height: 100vh;
    background-color: #ada690;

}
.dropdownimg{
    height: 3rem;
    width: 6rem;
}
.dropdown-item:hover{
    cursor: pointer;
    background:#969287;
}

.img{
    height: 100vh;
    width: 100vw;
}


#company{
  background-color: #34eb6b;
  color: black;
  border: 2px solid white;
  border-radius: 5px;
  transition: 0.2s;
}
#company:hover{
  color: white;
  background-color: #36a353;
}







html, body {
  position: relative;
  height: 100%;
    scroll-behavior: smooth;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}


.swiper-container {
position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;

}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.swiper-pagination{
  top: 28vh;
}





.swiper-container2 {
        position: absolute;
        top: 78vh;
        left: 27vw;
        width: 45vw;
        height: 14vh;
        background:transparent;
        overflow: hidden;
        z-index: 2;
    }
.swiper-container2 a{
  text-decoration: none;
}
.slide2 {
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    width: 300px;
    height: 100px;
}
.prev{
    position: relative;
    text-align: left;
    top: -15vh;
}
.next{
    position: relative;
    text-align: right;
    top: -15vh;
}

.swiper-button-next{
    right: 25vw;
}
.swiper-button-prev{
    left: 25vw;
}






.slide2{
    overflow: hidden;
    transition: 0.3s;
    background-position: cover;
}
.slide2:hover{
  cursor: pointer;
  z-index: 3;
}


.details{
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,.9);
    transform: scaleY(0);
    transition: transform .5s;
    text-align: left;
    padding: 15px;
    color: #fff;
    z-index: 4;
}
.details h1{
  font-size: 10px;
}
.details p{


  font-size: 7px;
}
.slide2:hover .details{
    transform: scaleX(2);
    transform: scaleY(1.7);
}






.descriptionOverlay{
  display: none;
  position: absolute;
  top: 10vh;
  z-index: 5;
}

.detailsOverlay{
  border-radius: 5px;
  background: rgba(255,255,255,.9);
  margin-left: 25vw;
  margin-right: 25vw;
  padding: 1rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  margin-top: 2vh;
  margin-bottom: 2vh; 
}

.descriptionBg{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(photos/bg2.png);
  z-index: 3;
}

.detailsOverlay h1{
  font-family: gothic;
  font-weight: bolder;
  font-size: 2rem;
}


.detailsOverlay p{
  font-family: gothic;
  font-weight: bold;
  font-size: 1.3rem;
}









.mvoSection{
  position: absolute;
  cursor: default;
  background: url(photos/bg2.jpg);
background-size: cover;

}
.heading{
  font-size: 2.5rem;
  color: #1f1f1f;
  font-weight: bold;
  font-family: gothic;
  text-shadow: 5px 5px 30px white;
}
.descript p{
  font-family: century-gothic, sans-serif;
  text-shadow: 5px 5px 20px white;
  font-size: 1.2rem;
  font-weight: light;
}


.about{
  margin-top: 2vh;
  margin-bottom: 2vh; 
  border-radius: 5px;
  background: rgba(255,255,255,.2);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
.rowlength{
  position: relative;
  width: 98%;
  margin-left: 1vw;
}


/*footer*/




.footer{
    background-color: #505962;
    padding: 1rem 2rem;
    color: white;
    cursor: default;
}

.footerlogo{
  text-align: center;
}
.footerlogo img{
    height: 5rem;
}
.txt1 , .txt2{
  padding-left: 8vw;
}
.txt2{
  text-align: right;
  padding-right: 8vw;
  padding-top: 2vw;
}




/*HOME page End*/
















/*About page Start*/


.aboutContainer{
  background: url(photos/bg2.jpg) fixed center;
  background-size: cover;
}






.mainmenubutton{
    position: fixed;
    float: left;
    margin-top: .5vw;
    margin-left: 1vw;
    font-size: 1rem;
    color: white;
    background-color: #36a353;
    font-family: gothic;
    border-radius: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    z-index: 10;
}
.mainmenubutton:hover{
    background:#056967;
    transform: scale(1.15);
    transition: .5s;

}
.mainmenubutton i{
    position: relative;
    left: 2px;
    z-index: 10;
}








/*ORGANO*/

.organo{
  position: fixed;
  float: right;
  top: 1vh;
  right: 1vw;
  width: 29rem;
  height: 94.5vh;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  text-shadow: 5px 5px 20px #01660e;
  font-size: 1.14rem;
  color: white;
  background-color: #36a353;
  border-radius: 10px;
  z-index: 1;
}

@media screen and (max-width: 1500px) {
  .organo{
    position: relative;
    float: none;
    top: 1vh;
    left: 1vw;
    width: 29rem;
    height: 94.5vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    margin-bottom: 1rem;
    text-shadow: 5px 5px 20px #01660e;
    font-size: 1.14rem;
    color: white;
    background-color: #36a353;
    border-radius: 10px;
    z-index: 1;
  }
  .aboutSections{
    background-color: white;
    width: 66.5vw;
    height: 100vh;
    border-radius: 10px;
    margin-top: .5rem;
    margin-bottom: .8rem;
    margin-left: .5rem;
    background: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    z-index: 2;
  }
}


#verticallineLvl1{
  position: absolute;
  left: 1.2rem;
  top: 3.3rem;
  width: 7px;
  height: 4rem;
  background-color: white;
}
#verticallineLvl1 #horizontalline{
  position: absolute;
  width: 1.8rem;
  height: 7px;
  background-color: white;
}
#verticallineLvl1 #horizontalline2{
  position: absolute;
  width: 5rem;
  top: 4rem;
  height: 7px;
  background-color: white;
}

#verticallineLvl2{
  position: absolute;
  left: 5.7rem;
  top: 7.5rem;
  width: 4px;
  height: 19.3rem;
  background-color: white;
}
#verticallineLvl2 #horizontalline{
  position: absolute;
  width: 65px;
  top: 3.4rem;
  height: 4px;
  background-color: white;
}
#verticallineLvl2 #horizontalline1{
  position: absolute;
  width: 65px;
  top: 12rem;
  height: 4px;
  background-color: white;
}

#verticallineLvl2 #horizontalline2{
  position: absolute;
  width: 65px;
  top: 19.2rem;
  height: 4px;
  background-color: white;
}




#verticallineLvl3{
  position: absolute;
  left: 10.5rem;
  top: 13rem;
  width: 2px;
  height: 3.6rem;
  background-color: white;
}

#verticallineLvl3 #horizontalline{
  position: absolute;
  width: 13px;
  top: 10px;
  height: 2px;
  background-color: white;
}
#verticallineLvl3 #horizontalline1{
  position: absolute;
  width: 13px;
  top: 2rem;
  height: 1px;
  background-color: white;
}

#verticallineLvl3 #horizontalline2{
  position: absolute;
  width: 13px;
  top: 3.5rem;
  height: 1px;
  background-color: white;
}
#verticallineLvl4{
  position: absolute;
  left: 10.5rem;
  top: 21.7rem;
  width: 2px;
  height: 2rem;
  background-color: white;
}

#verticallineLvl4 #horizontalline{
  position: absolute;
  width: 13px;
  top: .5rem;
  height: 1px;
  background-color: white;
}
#verticallineLvl4 #horizontalline1{
  position: absolute;
  width: 13px;
  top: 2rem;
  height: 1px;
  background-color: white;
}
#verticallineLvl5{
  position: absolute;
  left: 10.5rem;
  top: 29.1rem;
  width: 2px;
  height: 3.2rem;
  background-color: white;
}

#verticallineLvl5 #horizontalline{
  position: absolute;
  width: 13px;
  top: .5rem;
  height: 1px;
  background-color: white;
}
#verticallineLvl5 #horizontalline1{
  position: absolute;
  width: 13px;
  top: 1.9rem;
  height: 1px;
  background-color: white;
}
#verticallineLvl5 #horizontalline2{
  position: absolute;
  width: 13px;
  top: 3.2rem;
  height: 1px;
  background-color: white;
}



.organolink{
  text-decoration: none; 
  color: white
}

.organolink:hover{ 
  transition: .3s;
  border: 1px solid #34eb6b;
  border-radius: 5px;
  background-color: #34eb6b;
  color: white;
}


.organo li{
  text-decoration: none;
  padding: 15px;
}
.organo l{
  color: #cccbca;
  font-size: 1.1rem;
}
.organo l1{
  padding-top: 10px;
  margin-left: 20px; 
  color: #cccbca;
  font-size: 1.1rem;
}

#level2{
  padding-top: 20px;

}




/*ORGANO End*/

.aboutSections{
  background-color: white;
  width: 66.5vw;
  height: 50vw;
  border-radius: 10px;
  margin-bottom: .8rem;
  margin-left: .5rem;
  background: rgba(255,255,255,.2);
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  z-index: 2;
}


@media screen and (max-width: 1500px) {
  .aboutSections{
    width: 95vw;
    margin-left: 1rem;
  }
}


.aboutSections p{
  font-family: gothic;
  padding: 3rem;
  font-weight: normal;
  margin-top: 10px; 
  font-size: 1.5vw;
  text-shadow: 5px 5px 20px white;
}


/*About page End*/